
    <!-- Blog Preview Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Blog</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <i>Random posts to improve my writing skills</i>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    I moved the blog to <a href="https://carlosmecha.substack.com/">Substack</a>. Please subscribe ;)
                </div>
            </div>
        </div>
    </section>
