<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div id="header">
      <nav>
        <li><a href="http://carlosmecha.github.com/">Home</a></li>
        <li><a href="https://github.com/CarlosMecha">GitHub</a></li>
        <li><a href="http://www.linkedin.com/in/mechacarlos/en">LinkedIn</a></li>
        <li><a href="http://owl-systems.com/">Owl</a></li>
        <li><a href="https://github.com/CarlosMecha/remote-laboratory-framework">RLF</a></li>
      </nav>
    </div>

    <div class="wrapper">

      <section>
        {{ content }}
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
    <div id="footer">
      <hr>
      <div class="credits">
        Blog maintained by <a href="https://github.com/CarlosMecha">Carlos Mecha</a>
        Hosted on GitHub Pages. Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a>
      </div>
    </div>
  </body>
</html>
